.wrap{
    display: flex;
    gap: 10px;
    align-items: first baseline;
    margin-top: 16px;
}

.title{
font-size: 16px;
color: rgb(242, 197, 82);
width: 110px;
text-align: right;
}

.text{
font-size: 16px;
display: flex;
width: 770px;
}