.img {
  width: 100%;
  margin-bottom: 4px;
}

.title {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 3px;
}

.contentWrap {
  margin-top: auto;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.text {
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.icon {
  margin-left: 3px;
  color: gold;
}
